<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <header class="header">
      <div class="header__content">
        <a href="/" aria-label="CariResto" class="header__brand">
          <img
            src="./images/logo/logo.svg"
            alt="CariResto"
            class="header__logo"
          />
        </a>
        <nav class="nav">
          <ul class="nav__list">
            <li><a href="/" class="nav__link nav__link--active">Home</a></li>
            <li><a href="#" class="nav__link">Favorite</a></li>
            <li>
              <a
                href="https://edwintantawi.github.io"
                target="_blank"
                rel="noopener noreferrer"
                class="nav__link"
                >About Us</a
              >
            </li>
          </ul>
        </nav>
        <div class="nav__toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </header>
    <div class="hero">
      <div class="hero__content">
        <h1 class="hero__title">
          Find the best places to eat <mark>around you</mark>.
        </h1>
        <p class="hero__description">
          Get a cool atmosphere for your every day to fill your day at the best
          restaurant near you with the best available facilities, making you
          comfortable...
        </p>
        <a href="#" class="hero__cta">Find Now</a>
      </div>
    </div>
  </body>
</html>
